# Formula 1 Data Analysis

The data is composed of the following variables:
* `car_number`: the number of the car
* `grid_starting_position`: the starting position of the car in the grid
* `final_position`: the position in which that driver ended
* `points`: the points earned by the driver in the race
* `laps`: the number of laps completed by the driver
* `total_race_time_ms`: the total time the driver took to complete the race in milliseconds
* `fastest_lap`: the fastest lap completed by the driver
* `rank`: the rank of the driver in the race
* `fastest_lap_time`: the time taken to complete the fastest lap
* `fastest_lap_speed`: the speed of the fastest lap
* `year`: the year of the race
* `race_number_season`: the number of the race in the season
* `race_name`: the name of the race
* `race_date`: the date of the race
* `race_start_time`: the start time of the race
* `circuit_name`: the name of the circuit where the race took place
* `circuit_location`: the location of the circuit
* `circuit_country`: the country where the circuit is located
* `circuit_lat`: the latitude of the circuit
* `circuit_lng`: the longitude of the circuit
* `circuit_altitude`: the altitude of the circuit
* `driver`: the name of the driver
* `driver_dob`: the date of birth of the driver
* `driver_nationality`: the nationality of the driver
* `constructor_name`: the name of the constructor team
* `constructor_nationality`: the nationality of the constructor team
* `status`: the status of the driver in the race (e.g., Finished, Did Not Finish, etc.)

In [1]:
# Import the relevant libraries in this case
import pandas as pd
import numpy as np

In [2]:
#Read the data
f1=pd.read_csv('f1_data.csv')

### 1. Basic operations

* Open the dataset as a pandas dataframe and show the first 10 rows
* Show the number of rows and columns
* Show the data types of each column
* Calculate a column called `age` which represents the age of each driver on the date of the race

In [3]:
pd.set_option('display.max_columns', None)
f1.head(10)

,car_number,grid_starting_position,final_position,points,laps,total_race_time_ms,fastest_lap,rank,fastest_lap_time,fastest_lap_speed,year,race_number_season,race_name,race_date,race_start_time,circuit_name,circuit_location,circuit_country,circuit_lat,circuit_lng,circuit_altitude,driver,driver_dob,driver_nationality,constructor_name,constructor_nationality,status
0,22.0,1,1.0,10.0,58,5690616.0,39.0,2.0,1:27.452,218.300,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Lewis Hamilton,1985-01-07,British,McLaren,British,Finished
1,3.0,5,2.0,8.0,58,5696094.0,41.0,3.0,1:27.739,217.586,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Nick Heidfeld,1977-05-10,German,BMW Sauber,German,Finished
2,7.0,7,3.0,6.0,58,5698779.0,41.0,5.0,1:28.090,216.719,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Nico Rosberg,1985-06-27,German,Williams,British,Finished
3,5.0,11,4.0,5.0,58,5707797.0,58.0,7.0,1:28.603,215.464,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Fernando Alonso,1981-07-29,Spanish,Renault,French,Finished
4,23.0,3,5.0,4.0,58,5708630.0,43.0,1.0,1:27.418,218.385,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Heikki Kovalainen,1981-10-19,Finnish,McLaren,British,Finished
5,8.0,13,6.0,3.0,57,NaN,50.0,14.0,1:29.639,212.974,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Kazuki Nakajima,1985-01-11,Japanese,Williams,British,+1 Lap
6,14.0,17,7.0,2.0,55,NaN,22.0,12.0,1:29.534,213.224,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Sébastien Bourdais,1979-02-28,French,Toro Rosso,Italian,Engine
7,1.0,15,8.0,1.0,53,NaN,20.0,4.0,1:27.903,217.180,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Kimi Räikkönen,1979-10-17,Finnish,Ferrari,Italian,Engine
8,4.0,2,NaN,0.0,47,NaN,15.0,9.0,1:28.753,215.100,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Robert Kubica,1984-12-07,Polish,BMW Sauber,German,Collision
9,12.0,18,NaN,0.0,43,NaN,23.0,13.0,1:29.558,213.166,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Timo Glock,1982-03-18,German,Toyota,Japanese,Accident

In [4]:
print(f'The dataset has {len(f1)} rows and {len(f1.columns)} columns')
print(f'The dataset has {f1.shape[0]} rows and {f1.shape[1]} columns')

The dataset has 26080 rows and 27 columns
The dataset has 26080 rows and 27 columns

In [5]:
f1.dtypes

car_number                 float64
grid_starting_position       int64
final_position             float64
points                     float64
laps                         int64
total_race_time_ms         float64
fastest_lap                float64
rank                       float64
fastest_lap_time            object
fastest_lap_speed          float64
year                         int64
race_number_season           int64
race_name                   object
race_date                   object
race_start_time             object
circuit_name                object
circuit_location            object
circuit_country             object
circuit_lat                float64
circuit_lng                float64
circuit_altitude           float64
driver                      object
driver_dob                  object
driver_nationality          object
constructor_name            object
constructor_nationality     object
status                      object
dtype: object

In [6]:
age=[pd.to_datetime(f1['race_date'])-pd.to_datetime(f1['driver_dob'])]
age=[i.days/365.25 for i in age[0]]
f1['age']=age

In [7]:
f1.head()

,car_number,grid_starting_position,final_position,points,laps,total_race_time_ms,fastest_lap,rank,fastest_lap_time,fastest_lap_speed,year,race_number_season,race_name,race_date,race_start_time,circuit_name,circuit_location,circuit_country,circuit_lat,circuit_lng,circuit_altitude,driver,driver_dob,driver_nationality,constructor_name,constructor_nationality,status,age
0,22.0,1,1.0,10.0,58,5690616.0,39.0,2.0,1:27.452,218.300,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Lewis Hamilton,1985-01-07,British,McLaren,British,Finished,23.186858
1,3.0,5,2.0,8.0,58,5696094.0,41.0,3.0,1:27.739,217.586,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Nick Heidfeld,1977-05-10,German,BMW Sauber,German,Finished,30.850103
2,7.0,7,3.0,6.0,58,5698779.0,41.0,5.0,1:28.090,216.719,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Nico Rosberg,1985-06-27,German,Williams,British,Finished,22.718686
3,5.0,11,4.0,5.0,58,5707797.0,58.0,7.0,1:28.603,215.464,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Fernando Alonso,1981-07-29,Spanish,Renault,French,Finished,26.631075
4,23.0,3,5.0,4.0,58,5708630.0,43.0,1.0,1:27.418,218.385,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10.0,Heikki Kovalainen,1981-10-19,Finnish,McLaren,British,Finished,26.406571

### 2. Why do we have missing values in the `final_position` column?

In [8]:
f1[f1['final_position'].isna()]

,car_number,grid_starting_position,final_position,points,laps,total_race_time_ms,fastest_lap,rank,fastest_lap_time,fastest_lap_speed,year,race_number_season,race_name,race_date,race_start_time,circuit_name,circuit_location,circuit_country,circuit_lat,circuit_lng,circuit_altitude,driver,driver_dob,driver_nationality,constructor_name,constructor_nationality,status,age
8,4.0,2,NaN,0.0,47,NaN,15.0,9.0,1:28.753,215.100,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,10.0,Robert Kubica,1984-12-07,Polish,BMW Sauber,German,Collision,23.271732
9,12.0,18,NaN,0.0,43,NaN,23.0,13.0,1:29.558,213.166,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,10.0,Timo Glock,1982-03-18,German,Toyota,Japanese,Accident,25.995893
10,18.0,19,NaN,0.0,32,NaN,24.0,15.0,1:30.892,210.038,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,10.0,Takuma Sato,1977-01-28,Japanese,Super Aguri,Japanese,Transmission,31.129363
11,6.0,20,NaN,0.0,30,NaN,20.0,16.0,1:31.384,208.907,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,10.0,Nelson Piquet Jr.,1985-07-25,Brazilian,Renault,French,Clutch,22.642026
12,2.0,4,NaN,0.0,29,NaN,23.0,6.0,1:28.175,216.510,2008,1,Australian Grand Prix,2008-03-16,04:30:00,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,10.0,Felipe Massa,1981-04-25,Brazilian,Ferrari,Italian,Engine,26.891170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26057,2.0,20,NaN,0.0,67,NaN,36.0,12.0,1:23.496,188.890,2023,11,Hungarian Grand Prix,2023-07-23,13:00:00,Hungaroring,Budapest,Hungary,47.5789,19.24860,264.0,Logan Sargeant,2000-12-31,American,Williams,British,Retired,22.557153
26058,31.0,12,NaN,0.0,2,NaN,NaN,0.0,NaN,NaN,2023,11,Hungarian Grand Prix,2023-07-23,13:00:00,Hungaroring,Budapest,Hungary,47.5789,19.24860,264.0,Esteban Ocon,1996-09-17,French,Alpine F1 Team,French,Collision damage,26.844627
26059,10.0,15,NaN,0.0,1,NaN,NaN,0.0,NaN,NaN,2023,11,Hungarian Grand Prix,2023-07-23,13:00:00,Hungaroring,Budapest,Hungary,47.5789,19.24860,264.0,Pierre Gasly,1996-02-07,French,Alpine F1 Team,French,Collision damage,27.455168
26078,55.0,4,NaN,0.0,23,NaN,9.0,19.0,1:53.138,222.864,2023,12,Belgian Grand Prix,2023-07-30,13:00:00,Circuit de Spa-Francorchamps,Spa,Belgium,50.4372,5.97139,401.0,Carlos Sainz,1994-09-01,Spanish,Ferrari,Italian,Collision damage,28.908966
26079,81.0,5,NaN,0.0,0,NaN,NaN,0.0,NaN,NaN,2023,12,Belgian Grand Prix,2023-07-30,13:00:00,Circuit de Spa-Francorchamps,Spa,Belgium,50.4372,5.97139,401.0,Oscar Piastri,2001-04-06,Australian,McLaren,British,Collision damage,22.313484

In [9]:
print(f'''Out of the {len(f1)} entries we have for drivers competing in f1 races from {f1['year'].min()} up until the Belgian Grand Prix of 2023 in July of said year,
{f1['final_position'].isna().sum()} do not have a final position record. This indicates that these drivers did not finish the race for different circumstances such as 
collision, engine failure, etc. This amounts to around {np.round(100*f1['final_position'].isna().mean(),2)}% of drivers competing in this timeframe''')

Out of the 26080 entries we have for drivers competing in f1 races from 1950 up until the Belgian Grand Prix of 2023 in July of said year,
10873 do not have a final position record. This indicates that these drivers did not finish the race for different circumstances such as
collision, engine failure, etc. This amounts to around 41.69% of drivers competing in this timeframe

### 3. Constructor analytics

* Which constructor has the most race wins?
* Which constructor has the most podiums (position 1, 2, or 3)? 
* Which constructor has the biggest probability of not finishing a race, according to the dataset?
* Which country has the most successful constructors in terms of race victories?
* Which are the current constructors (from 2023) with the longest history in Formula 1?
* Which is the constructor with the most drivers in Formula 1 across its history?

In [10]:
#3.1 Which constructor has the most race wins?
f1[f1['final_position']==1].groupby('constructor_name', as_index=False)['final_position'].sum().sort_values(by=['final_position'], ascending=False).rename(columns={'final_position':'Wins'}).head(1)

   constructor_name   Wins
16          Ferrari  243.0

In [11]:
#3.2 Which constructor has the most podiums (position 1, 2, or 3)?
f1[(f1['final_position']==1) | 
   (f1['final_position']==2) | 
   (f1['final_position']==3)].groupby('constructor_name', as_index=False)['final_position'].count().sort_values(by=['final_position'], ascending=False).rename(columns={'final_position':'Podiums'}).head(1)

   constructor_name  Podiums
24          Ferrari      813

In [12]:
#3.3 Which constructor has the biggest probability of not finishing a race, according to the dataset?
non_finishes=f1[f1['final_position'].isna()].groupby('constructor_name', as_index=False)['year'].count().rename(columns={'year':'Non_finishes'})

apps_non_finishers=f1[f1['constructor_name'].isin(non_finishes['constructor_name'])].groupby('constructor_name', as_index=False)['year'].count().rename(columns={'year':'appearances'})


constructors_prob_non_finish=pd.DataFrame({
    'constructor_name':non_finishes['constructor_name'],
    'appearances':apps_non_finishers['appearances'],
    'non_finishes':non_finishes['Non_finishes']    
})

#df_probs.set_index('constructor_name', inplace=True)
constructors_prob_non_finish['probability_non_finish']=np.round((constructors_prob_non_finish['non_finishes']/constructors_prob_non_finish['appearances'])*100,2)
#df_probs.head()

constructors_prob_non_finish[constructors_prob_non_finish['probability_non_finish']==constructors_prob_non_finish['probability_non_finish'].max()]
constructors_prob_non_finish.loc[constructors_prob_non_finish['probability_non_finish'].idxmax(),:]

constructor_name          Adams
appearances                   2
non_finishes                  2
probability_non_finish    100.0
Name: 3, dtype: object

In [13]:
#3.4 Which country has the most successful constructors in terms of race victories?
f1[f1['final_position']==1].groupby('constructor_nationality', as_index=False)['final_position'].sum().sort_values(by=['final_position'], ascending=False).rename(columns={'final_position':'Wins'}).head()

  constructor_nationality   Wins
2                 British  494.0
7                 Italian  281.0
5                  German  127.0
1                Austrian  104.0
4                  French   54.0

In [14]:
#3.5.1 Which are the current constructors (from 2023) with the longest history in Formula 1? 
# By number of appearances
current_constructors=list(f1[f1['year']==2023]['constructor_name'].unique())

f1[f1['constructor_name'].isin(current_constructors)].groupby('constructor_name', as_index=False)['race_name'].count().rename(columns={'race_name':'Appearances'}).sort_values(by=['Appearances'], ascending=False)

  constructor_name  Appearances
4          Ferrari         2371
6          McLaren         1855
9         Williams         1609
8         Red Bull          720
7         Mercedes          584
0       Alfa Romeo          431
5     Haas F1 Team          312
1       AlphaTauri          146
3     Aston Martin          123
2   Alpine F1 Team          112

In [15]:
#3.5.2 Which are the current constructors (from 2023) with the longest history in Formula 1?
# By earliest debut year
f1[f1['constructor_name'].isin(current_constructors)].groupby('constructor_name', as_index=False)['year'].min().sort_values(by=['year'], ascending=True).rename(columns={'year':'debut_year'})

  constructor_name  debut_year
0       Alfa Romeo        1950
4          Ferrari        1950
7         Mercedes        1954
3     Aston Martin        1959
6          McLaren        1968
9         Williams        1975
8         Red Bull        2005
5     Haas F1 Team        2016
1       AlphaTauri        2020
2   Alpine F1 Team        2021

In [16]:
#3.6 Which is the constructor with the most drivers in Formula 1 across its history?
drivers_per_team=f1.groupby('constructor_name')['driver'].unique()
teams=list(drivers_per_team.index)
number_drivers_per_team={team:len(list(drivers_per_team[team])) for team in teams}
#number_drivers_per_team
team_most_drivers=max(number_drivers_per_team, key=number_drivers_per_team.get)

print(f'The team with the most number of drivers is {team_most_drivers}, with a total of {number_drivers_per_team[team_most_drivers]} in its history.')

The team with the most number of drivers is Ferrari, with a total of 97 in its history.

In [17]:
indice=f1.groupby('constructor_name')['driver'].unique().index
conductores=list(f1.groupby('constructor_name')['driver'].unique())

en=pd.DataFrame({
    'constructor_name':indice,
    'drivers':conductores
})
en['number_drivers']=[len(drivers) for drivers in en['drivers']]
#en.head()
en2=en.loc[en['number_drivers'].idxmax(),'constructor_name']
#en2
en3=en.loc[en['number_drivers'].idxmax(),'number_drivers']
print(f'The team with the most number of drivers is {en2}, with a total of {en3} in its history.')
#en[en['number_drivers']==en['number_drivers'].max()]

The team with the most number of drivers is Ferrari, with a total of 97 in its history.

### 4. Driver analytics

* With the data available, who is the fastest driver in Formula 1?
* Which is the driver with the most podiums without a win (position 2 or 3)? 
* Calculate the historical probability of each country of having a driver in the podium 
* Calculate the historical probability of each country of having a driver win a race
* Which driver was the youngest to win a race?
* Which drivers are the current ones with the longest history in Formula 1?

In [18]:
#4.1 With the data available, who is the fastest driver in Formula 1?

f1[f1['rank']==1].groupby('driver', as_index=False)['rank'].sum().sort_values(by='rank', ascending=False).rename(columns={'rank':'fastest_lap_awards'}).head(1)

            driver  fastest_lap_awards
20  Lewis Hamilton                63.0

In [19]:
#4.2 Which is the driver with the most podiums without a win (position 2 or 3)?

drivers_with_wins=f1[f1['final_position']==1].groupby('driver', as_index=False)['final_position'].count()
#drivers_with_wins

#drivers_with_pos2_3_no_wins=
f1[(f1['final_position'].isin([2,3])&(~f1['driver'].isin(drivers_with_wins['driver'])))].groupby('driver', as_index=False)['final_position'].count().sort_values(by=['final_position'],ascending=False).rename(columns={'final_position':'podiums_without_victories'}).head(1)

           driver  podiums_without_victories
64  Nick Heidfeld                         13

In [20]:
# 4.3 Calculate the historical probability of each country of having a driver in the podium

podiums_per_country=f1[f1['final_position'].isin([1,2,3])].groupby('driver_nationality', as_index=False)['final_position'].sum().rename(columns={'final_position':'podiums'})

apps_by_podium_countries=f1[f1['driver_nationality'].isin(podiums_per_country['driver_nationality'])].groupby('driver_nationality', as_index=False)['race_name'].count().rename(columns={'race_name':'races'})

prob_podium_per_country=pd.DataFrame({
    'nationality':podiums_per_country['driver_nationality'],
    'podiums':podiums_per_country['podiums'],
    'races':apps_by_podium_countries['races']
})

prob_podium_per_country['probability_podium']=np.round(100*(prob_podium_per_country['podiums']/prob_podium_per_country['races']),2)
prob_podium_per_country.sort_values(by=['probability_podium'],ascending=False)

      nationality  podiums  races  probability_podium
1       Argentine    188.0    373               50.40
8       Colombian     61.0    125               48.80
11        Finnish    530.0   1159               45.73
17     Monegasque     64.0    144               44.44
18  New Zealander    166.0    396               41.92
23  South African     72.0    210               34.29
3        Austrian    232.0    690               33.62
2      Australian    265.0    835               31.74
13         German    760.0   2396               31.72
6         British   1391.0   4454               31.23
10          Dutch    155.0    502               30.88
24        Spanish    251.0    846               29.67
5       Brazilian    574.0   1953               29.39
19         Polish     29.0     99               29.29
0        American    280.0   1291               21.69
12         French    652.0   3028               21.53
16        Mexican     88.0    434               20.28
25        Swedish     94.0    510               18.43
4         Belgian    102.0    591               17.26
26          Swiss     78.0    496               15.73
7        Canadian     73.0    464               15.73
14        Italian    456.0   3418               13.34
21      Rhodesian      2.0     18               11.11
27           Thai      6.0     90                6.67
22        Russian     11.0    213                5.16
20     Portuguese      3.0     87                3.45
15       Japanese      9.0    647                1.39
9          Danish      2.0    189                1.06
28     Venezuelan      1.0    120                0.83

In [21]:
# 4.4 Calculate the historical probability of each country of having a driver win a race

wins_per_country=f1[f1['final_position']==1].groupby('driver_nationality', as_index=False)['final_position'].sum().rename(columns={'final_position':'wins'})

apps_by_winning_countries=f1[f1['driver_nationality'].isin(wins_per_country['driver_nationality'])].groupby('driver_nationality', as_index=False)['race_name'].count().rename(columns={'race_name':'races'})

prob_win_per_country=pd.DataFrame({
    'nationality': wins_per_country['driver_nationality'],
    'wins': wins_per_country['wins'],
    'races':apps_by_winning_countries['races']
})

prob_win_per_country['probability_win']=np.round(100*(prob_win_per_country['wins']/prob_win_per_country['races']),2)
prob_win_per_country.sort_values(by=['probability_win'],ascending=False)

      nationality   wins  races  probability_win
1       Argentine   38.0    373            10.19
9           Dutch   45.0    502             8.96
12         German  179.0   2396             7.47
6         British  309.0   4454             6.94
3        Austrian   41.0    690             5.94
8       Colombian    7.0    125             5.60
5       Brazilian  101.0   1953             5.17
2      Australian   43.0    835             5.15
10        Finnish   57.0   1159             4.92
18  South African   10.0    210             4.76
19        Spanish   33.0    846             3.90
7        Canadian   17.0    464             3.66
15     Monegasque    5.0    144             3.47
16  New Zealander   12.0    396             3.03
11         French   81.0   3028             2.68
0        American   33.0   1291             2.56
20        Swedish   12.0    510             2.35
4         Belgian   11.0    591             1.86
14        Mexican    8.0    434             1.84
21          Swiss    7.0    496             1.41
13        Italian   43.0   3418             1.26
17         Polish    1.0     99             1.01
22     Venezuelan    1.0    120             0.83

In [22]:
# 4.5 Which driver was the youngest to win a race?

winners=f1[f1['final_position']==1]
youngest_winner=winners['driver'][winners['age']==winners['age'].min()]
youngest_winner.values[0]

'Max Verstappen'

In [23]:
# 4.6.1 Which drivers are the current ones with the longest history in Formula 1?
# By amount of appearances
current_drivers=list(f1[f1['year']==2023]['driver'].unique())

f1[f1['driver'].isin(current_drivers)].groupby('driver', as_index=False)['race_name'].count().rename(columns={'race_name':'Appearances'}).sort_values(by=['Appearances'], ascending=False).head()

              driver  Appearances
5    Fernando Alonso          370
11    Lewis Hamilton          322
18      Sergio Pérez          249
3   Daniel Ricciardo          234
19   Valtteri Bottas          213

In [24]:
# 4.6.2 Which drivers are the current ones with the longest history in Formula 1?
# By earlier appearance

f1[f1['driver'].isin(current_drivers)].groupby('driver', as_index=False)['year'].min().sort_values(by='year', ascending=True).rename(columns={'year':'debut_year'}).head()

              driver  debut_year
5    Fernando Alonso        2001
11    Lewis Hamilton        2007
14   Nico Hülkenberg        2010
3   Daniel Ricciardo        2011
18      Sergio Pérez        2011

### 5. Circuit analytics

* Which would you say is the toughest circuit in Formula 1?
* Which circuit requires the most f1 experience to win?
* Which circuit and year saw the most number of non-finishers?
* For each constructor, which is their best circuit in terms of amount of podiums?

In [25]:
#First, get all possible reasons for a dnf in the dataset
f1[(f1['final_position'].isna())]['status'].unique()

array(['Collision', 'Accident', 'Transmission', 'Clutch', 'Engine',
       'Electrical', 'Hydraulics', 'Disqualified', 'Spun off', 'Gearbox',
       'Radiator', 'Suspension', 'Brakes', 'Overheating', 'Mechanical',
       'Tyre', 'Driver Seat', 'Puncture', 'Driveshaft', 'Retired',
       'Fuel pressure', 'Front wing', 'Refuelling', 'Wheel', 'Throttle',
       'Steering', 'Electronics', 'Broken wing', 'Heat shield fire',
       'Exhaust', 'Oil leak', '+11 Laps', 'Technical', 'Wheel rim',
       'Water leak', 'Fuel pump', '+17 Laps', 'Oil pressure',
       'Pneumatics', '+1 Lap', '+2 Laps', 'Withdrew', '+12 Laps',
       'Engine fire', '+26 Laps', 'Not classified', 'Handling',
       'Rear wing', 'Fire', 'Fuel system', 'Oil line', 'Fuel rig',
       'Launch control', 'Injured', 'Fuel', 'Out of fuel', 'Power loss',
       '107% Rule', 'Safety', 'Drivetrain', 'Ignition', 'Did not qualify',
       'Injury', 'Chassis', 'Battery', 'Stalled', 'Halfshaft',
       'Crankshaft', 'Safety concerns', 'Not restarted', 'Differential',
       'Wheel bearing', 'Physical', 'Alternator', 'Vibrations',
       'Underweight', 'Safety belt', 'Oil pump', 'Fuel leak',
       'Did not prequalify', 'Excluded', 'Injection', 'Distributor',
       'Driver unwell', 'Turbo', 'CV joint', 'Water pump',
       'Fatal accident', 'Spark plugs', '+4 Laps', '+9 Laps', '+8 Laps',
       '+7 Laps', 'Fuel pipe', 'Eye injury', 'Oil pipe', 'Axle',
       'Water pipe', '+3 Laps', 'Magneto', '+6 Laps', 'Supercharger',
       '+10 Laps', 'Track rod', '+42 Laps', 'Engine misfire', 'Wheel nut',
       '+14 Laps', 'Collision damage', 'ERS', 'Power Unit',
       'Water pressure', 'Brake duct', 'Seat', 'Damage', 'Debris',
       'Illness', 'Cooling system', 'Undertray'], dtype=object)

In [26]:
# Filtering conditions on which the status is related to track difficulty
racing_related_dnf_reasons=['Collision', 'Accident', 'Spun off', 'Suspension', 'Brakes', 'Overheating', 'Tyre', 'Puncture', 'Front wing',
                 'Throttle', 'Steering', 'Vibrations', 'Handling', 'Rear wing', 'Debris', 'Collision damage', 'Damage', 'Cooling system']

In [27]:
#5.1.1 Which would you say is the toughest circuit in Formula 1?
# By total number of DNF 

dnf_by_circuit=f1[(f1['final_position'].isna())&(f1['status'].isin(racing_related_dnf_reasons))].groupby('circuit_name',as_index=False)['driver'].count().rename(columns={'driver':'total_dnf'})
dnf_by_circuit.sort_values(by='total_dnf', ascending=False).head()

                    circuit_name  total_dnf
25             Circuit de Monaco        312
7   Autodromo Nazionale di Monza        235
20     Circuit Gilles Villeneuve        167
28  Circuit de Spa-Francorchamps        167
68           Silverstone Circuit        157

In [28]:
#5.1.2 Which would you say is the toughest circuit in Formula 1?
# By percentage of DNF over total number of possible finishers

dnf_by_circuit=f1[(f1['final_position'].isna())&(f1['status'].isin(racing_related_dnf_reasons))].groupby('circuit_name',as_index=False)['driver'].count().rename(columns={'driver':'total_dnf'})
drivers_by_circuit=f1.groupby('circuit_name', as_index=False)['driver'].count().rename(columns={'driver':'total_drivers'})

percentage_dnf_by_circuit=pd.DataFrame({
    'circuit_name':dnf_by_circuit['circuit_name'],
    'total_dnf':dnf_by_circuit['total_dnf'],
    'total_drivers':drivers_by_circuit['total_drivers']
})

percentage_dnf_by_circuit['percentage_dnf']=np.round(100*(percentage_dnf_by_circuit['total_dnf']/percentage_dnf_by_circuit['total_drivers']),2)
percentage_dnf_by_circuit.sort_values(by='percentage_dnf',ascending=False).head()

,circuit_name,total_dnf,total_drivers,percentage_dnf
35,Fair Park,13,26,50.00
6,Autodromo Internazionale del Mugello,8,20,40.00
34,Donington Park,9,26,34.62
74,Zeltweg,6,20,30.00
47,Long Beach,65,220,29.55

In [29]:
#5.2 Which circuit requires the most f1 experience to win?
# By average age of the winners
f1[f1['final_position']==1][['circuit_name','driver','age']].groupby('circuit_name', as_index=False)[['age']].mean().sort_values(by='age', ascending=False).rename(columns={'age':'average_winners_age'}).head()

                            circuit_name  average_winners_age
19                    Circuit Bremgarten            41.478439
46                               Le Mans            41.248460
48          Losail International Circuit            36.870637
10    Autódromo Internacional do Algarve            36.056126
6   Autodromo Internazionale del Mugello            35.682409

In [30]:
#5.2 Which circuit requires the most f1 experience to win?
# By minimum age of the winners

winners_info=f1[f1['final_position']==1][['circuit_name','driver','age']]

winners_info.groupby('circuit_name',as_index=False)[['driver', 'age']].min().sort_values('age',ascending=False).head(5)

#winning_drivers={winners_info['driver']}

                            circuit_name          driver        age
46                               Le Mans    Jack Brabham  41.248460
48          Losail International Circuit  Lewis Hamilton  36.870637
10    Autódromo Internacional do Algarve  Lewis Hamilton  35.797399
6   Autodromo Internazionale del Mugello  Lewis Hamilton  35.682409
35                             Fair Park    Keke Rosberg  35.586585

In [31]:
# 5.3 Which circuit and year saw the most number of non-finishers?

circuit_year_dnf=f1[f1['final_position'].isna()].groupby(['circuit_name','year'], as_index=False)[['driver']].count().rename(columns={'driver':'total_dnf'})
circuit_year_dnf.loc[circuit_year_dnf['total_dnf'].idxmax(),:]

circuit_name    Adelaide Street Circuit
year                               1989
total_dnf                            31
Name: 5, dtype: object

In [32]:
#5.4 For each constructor, which is their best circuit in terms of amount of podiums?

constructor_circuit_podiums=f1[f1['final_position'].isin([1,2,3])].groupby(['constructor_name','circuit_name'], as_index=False)[['final_position']].count().rename(columns={'final_position':'podiums'})
#constructor_circuit_podiums#.groupby('constructor_name')[['circuit_name','final_position']].max().sort_values(by='final_position',ascending=False).rename(columns={'final_position':'podiums'})
constructor_circuit_podiums.loc[constructor_circuit_podiums.groupby('constructor_name')['podiums'].idxmax(),:].sort_values(by='podiums', ascending=False)

    constructor_name                   circuit_name  podiums
201          Ferrari   Autodromo Nazionale di Monza       73
421          McLaren   Autodromo Nazionale di Monza       28
734         Williams                 Hockenheimring       21
301     Kurtis Kraft    Indianapolis Motor Speedway       19
511         Mercedes            Silverstone Circuit       19
..               ...                            ...      ...
192    Eagle-Weslake   Circuit de Spa-Francorchamps        1
189          Dallara  Autodromo Enzo e Dino Ferrari        1
516             Onyx           Autódromo do Estoril        1
517           Penske                   Brands Hatch        1
306     Leyton House            Circuit Paul Ricard        1

[76 rows x 3 columns]

## A Deep Dive Into the Prolific History of Lewis Hamilton

### _Hammer Time!_

In [33]:
# 1. Drivers with most wins

wins_per_driver=f1[f1['final_position']==1].groupby('driver',as_index=False)['final_position'].count().rename(columns={'final_position':'wins'}).sort_values('wins',ascending=False).head()

wins_per_driver.reset_index(drop=True)

               driver  wins
0      Lewis Hamilton   103
1  Michael Schumacher    91
2    Sebastian Vettel    53
3         Alain Prost    51
4      Max Verstappen    45

In [34]:
#2. Driver with highest win percentage and more than 60 races
wins_per_driver=f1[f1['final_position']==1].groupby('driver',as_index=False)['final_position'].count().rename(columns={'final_position':'wins'})

races_by_winners=f1[f1['driver'].isin(wins_per_driver['driver'])].groupby('driver',as_index=False)['race_name'].count().rename(columns={'race_name':'races'})

wins_per_driver_more_60_races=wins_per_driver[wins_per_driver['driver'].isin(races_by_winners[races_by_winners['races']>60]['driver'])]

races_by_winners_more_60_races=races_by_winners[races_by_winners['driver'].isin(wins_per_driver_more_60_races['driver'])]

percentage_wins_driver=pd.DataFrame({
    'driver':wins_per_driver_more_60_races['driver'],
    'wins':wins_per_driver_more_60_races['wins'],
    'total_races':races_by_winners_more_60_races['races'],
    'win_percentage': np.round(100*(wins_per_driver_more_60_races['wins']/races_by_winners_more_60_races['races']),2)
})

percentage_wins_driver.sort_values('win_percentage', ascending=False).head()

                driver  wins  total_races  win_percentage
47           Jim Clark    25           73           34.25
65      Lewis Hamilton   103          322           31.99
74  Michael Schumacher    91          308           29.55
37      Jackie Stewart    27          100           27.00
73      Max Verstappen    45          175           25.71

In [35]:
# 3. Drivers with most podiums
f1[f1['final_position'].isin([1,2,3])].groupby('driver',as_index=False)['final_position'].count().rename(columns={'final_position':'podiums'}).sort_values('podiums',ascending=False).head(8)

                 driver  podiums
111      Lewis Hamilton      195
132  Michael Schumacher      155
190    Sebastian Vettel      122
1           Alain Prost      106
46      Fernando Alonso      104
107      Kimi Räikkönen      103
130      Max Verstappen       89
10         Ayrton Senna       80

In [36]:
# 4. Drivers with highest percentage of podiums, with more than 60 races

podiums_per_driver=f1[f1['final_position'].isin([1,2,3])].groupby('driver',as_index=False)['final_position'].count().rename(columns={'final_position':'podiums'})

races_by_podium_drivers=f1[f1['driver'].isin(podiums_per_driver['driver'])].groupby('driver',as_index=False)['race_name'].count().rename(columns={'race_name':'races'})

podiums_per_driver_more_60_races=podiums_per_driver[podiums_per_driver['driver'].isin(races_by_podium_drivers[races_by_podium_drivers['races']>60]['driver'])]

races_by_podium_drivers_more_60_races=races_by_podium_drivers[races_by_podium_drivers['driver'].isin(podiums_per_driver_more_60_races['driver'])]

percentage_podiums_driver=pd.DataFrame({
    'driver':podiums_per_driver_more_60_races['driver'],
    'podiums':podiums_per_driver_more_60_races['podiums'],
    'total_races':races_by_podium_drivers_more_60_races['races'],
    'podium_percentage': np.round(100*(podiums_per_driver_more_60_races['podiums']/races_by_podium_drivers_more_60_races['races']),2)
})

percentage_podiums_driver.sort_values('podium_percentage', ascending=False).head()

                 driver  podiums  total_races  podium_percentage
111      Lewis Hamilton      195          322              60.56
1           Alain Prost      106          202              52.48
130      Max Verstappen       89          175              50.86
132  Michael Schumacher      155          308              50.32
10         Ayrton Senna       80          162              49.38

In [37]:
#5 WDC won by mercedes drivers before and after Hamilton
# Note: Constructors Championship began in 1958, hence the filtering

points_per_team_per_season=f1[f1['year']>1957].groupby(['year','constructor_name'],as_index=False)['points'].sum()
wcc_by_season=points_per_team_per_season.loc[points_per_team_per_season.groupby('year')['points'].idxmax()]
wcc_mercedes=wcc_by_season[wcc_by_season['constructor_name']=='Mercedes']

years_ham_with_mercedes=f1[f1['year']>1957]['year'][(f1['driver']=='Lewis Hamilton')&(f1['constructor_name']=='Mercedes')].unique()

points_per_driver_per_season=f1.groupby(['year','driver'], as_index=False)['points'].sum()
points_per_champion=points_per_driver_per_season.loc[points_per_driver_per_season.groupby('year')['points'].idxmax(),:]

years_ham_champion=points_per_champion[points_per_champion['driver']=='Lewis Hamilton']['year'].reset_index(drop=True)
years_ham_champion_with_mercedes=points_per_champion[(points_per_champion['driver']=='Lewis Hamilton')&(points_per_champion['year'].isin(f1['year'][(f1['driver']=='Lewis Hamilton')&(f1['constructor_name']=='Mercedes')]))]['year'].reset_index(drop=True)

#First, amount of times Mercedes have won a WCC without and with Hamilton on the team

mercedes_wcc_without_hamilton_on_team=len(wcc_mercedes[~wcc_mercedes['year'].isin(years_ham_with_mercedes)])
mercedes_wcc_with_hamilton_on_team=len(wcc_mercedes[wcc_mercedes['year'].isin(years_ham_with_mercedes)])

#Now, amount of times Mercedes have won a WCC at the same time that Hamilton won a WDC

mercedes_wcc_without_hamilton_being_champion=len(wcc_mercedes[~wcc_mercedes['year'].isin(years_ham_with_mercedes)])+len(wcc_mercedes[~wcc_mercedes['year'].isin(years_ham_champion)])-1
mercedes_wcc_with_hamilton_being_champion=len(wcc_mercedes[wcc_mercedes['year'].isin(years_ham_champion)])#+len(wcc_mercedes[wcc_mercedes['year'].isin(years_ham_champion)])

print(f'Out of {len(wcc_mercedes)} seasons Mercedes have won the WCC, Hamilton was with the team for {mercedes_wcc_with_hamilton_on_team},',
      f'\nand out of those {mercedes_wcc_with_hamilton_on_team} WCC with Hamilton on the team, Lewis was crowned WDC {len(years_ham_champion_with_mercedes)} times.',
      f'\nThat is a whopping participation of {np.round(100*(mercedes_wcc_with_hamilton_on_team/len(wcc_mercedes)),2)}% in the titles obtained by Mercedes in their history.')

Out of 8 seasons Mercedes have won the WCC, Hamilton was with the team for 8,
and out of those 8 WCC with Hamilton on the team, Lewis was crowned WDC 6 times.
That is a whopping participation of 100.0% in the titles obtained by Mercedes in their history.

In [38]:
#6. Lewis percentage of outqualifying and outperforming his teammate

hamilton_info=f1[f1['driver']=='Lewis Hamilton'].groupby(['year','race_name','constructor_name'], as_index=False)

qualy_h2h={'Hamilton':0,'Teammates':0}
race_h2h={'Hamilton':0,'Teammates':0}

for (year, track, constructor), infor in hamilton_info:
    race_info=f1[(f1['year']==year)&(f1['race_name']==track)&(f1['constructor_name']==constructor)]

    #Qualy
    hamilton_qualy=race_info[race_info['driver']=='Lewis Hamilton']['grid_starting_position'].iloc[0]
    teammate_qualy=race_info[race_info['driver']!='Lewis Hamilton']['grid_starting_position'].iloc[0]

    if hamilton_qualy==None and teammate_qualy==None:
        continue
    elif hamilton_qualy==None:
        qualy_h2h['Teammates']+=1
    elif teammate_qualy==None:
        qualy_h2h['Hamilton']+=1
    elif hamilton_qualy<teammate_qualy:
        qualy_h2h['Hamilton']+=1
    else:
        qualy_h2h['Teammates']+=1

    #Race
    hamilton_finish=race_info[race_info['driver']=='Lewis Hamilton']['final_position'].iloc[0]
    teammate_finish=race_info[race_info['driver']!='Lewis Hamilton']['final_position'].iloc[0]

    if hamilton_finish==None and teammate_finish==None:
        continue
    elif hamilton_finish==None:
        race_h2h['Teammates']+=1
    elif teammate_finish==None:
        race_h2h['Hamilton']+=1
    elif hamilton_finish<teammate_finish:
        race_h2h['Hamilton']+=1
    else:
        race_h2h['Teammates']+=1


qualy_h2h, race_h2h

({'Hamilton': 204, 'Teammates': 118}, {'Hamilton': 168, 'Teammates': 154})

In [39]:
#6. Lewis percentage of outqualifying and outperforming his teammate

copy_data=f1.copy()
copy_data['grid_starting_position']=copy_data['grid_starting_position'].fillna(25)
copy_data['final_position']=copy_data['final_position'].fillna(25)


hamilton_info=copy_data[copy_data['driver']=='Lewis Hamilton'].groupby(['year','race_name','constructor_name'], as_index=False)

qualy_h2h={'Hamilton':0,'Teammates':0}
race_h2h={'Hamilton':0,'Teammates':0}

for (year, track, constructor), infor in hamilton_info:
    race_info=copy_data[(copy_data['year']==year)&(copy_data['race_name']==track)&(copy_data['constructor_name']==constructor)]

    #Qualy
    hamilton_qualy=race_info[race_info['driver']=='Lewis Hamilton']['grid_starting_position'].iloc[0]
    teammate_qualy=race_info[race_info['driver']!='Lewis Hamilton']['grid_starting_position'].iloc[0]

    if hamilton_qualy<teammate_qualy:
        qualy_h2h['Hamilton']+=1
    elif hamilton_qualy==teammate_qualy:
        continue
    else:
        qualy_h2h['Teammates']+=1

    #Race
    hamilton_finish=race_info[race_info['driver']=='Lewis Hamilton']['final_position'].iloc[0]
    teammate_finish=race_info[race_info['driver']!='Lewis Hamilton']['final_position'].iloc[0]

    if hamilton_finish<teammate_finish:
        race_h2h['Hamilton']+=1
    elif hamilton_finish==teammate_finish:
        continue
    else:
        race_h2h['Teammates']+=1


qualy_h2h, race_h2h

({'Hamilton': 204, 'Teammates': 118}, {'Hamilton': 199, 'Teammates': 120})

In [40]:
#7. Most fastest lap awards

f1[f1['rank']==1].groupby('driver', as_index=False)['rank'].count().rename(columns={'rank':'fastest_lap_awards'}).sort_values('fastest_lap_awards',ascending=False).head()

              driver  fastest_lap_awards
20    Lewis Hamilton                  63
18    Kimi Räikkönen                  42
33  Sebastian Vettel                  38
22    Max Verstappen                  27
8    Fernando Alonso                  22

In [41]:
# 8. Number of WDC won

points_per_driver_per_season=f1.groupby(['year','driver'], as_index=False)['points'].sum()
points_per_champion=points_per_driver_per_season.loc[points_per_driver_per_season.groupby('year')['points'].idxmax(),:]
points_per_champion.groupby('driver',as_index=False)['points'].count().sort_values(by='points', ascending=False).rename(columns={'points':'championships'}).head()

                driver  championships
23  Michael Schumacher              7
20      Lewis Hamilton              7
0          Alain Prost              5
17         Juan Fangio              5
32    Sebastian Vettel              4

In [42]:
#9 Times Hanilton's fastest lap was fastest than his teammates

copy_data['rank']=copy_data['rank'].fillna(25)

years_teams_hamilton_active=copy_data[copy_data['driver']=='Lewis Hamilton'].groupby(['year','constructor_name','race_name'],as_index=False).count()
years_teams_hamilton_active

with_mclaren=years_teams_hamilton_active[years_teams_hamilton_active['constructor_name']=='McLaren']
with_mercedes=years_teams_hamilton_active[years_teams_hamilton_active['constructor_name']=='Mercedes']
#with_mercedes

mclaren_history_with_hamilton=copy_data[['year','rank','race_name','race_date','driver','constructor_name']][(copy_data['year'].isin(with_mclaren['year']))&(copy_data['constructor_name'].isin(with_mclaren['constructor_name']))&(copy_data['race_name'].isin(with_mclaren['race_name']))].sort_values('race_date')
mercedes_history_with_hamilton=copy_data[['year','rank','race_name','race_date','driver','constructor_name']][(copy_data['year'].isin(with_mercedes['year']))&(copy_data['constructor_name'].isin(with_mercedes['constructor_name']))&(copy_data['race_name'].isin(with_mercedes['race_name']))].sort_values('race_date')
#history_with_hamilton

hamilton_history=pd.concat([mclaren_history_with_hamilton[mclaren_history_with_hamilton['driver']=='Lewis Hamilton'],
                            mercedes_history_with_hamilton[mercedes_history_with_hamilton['driver']=='Lewis Hamilton']],ignore_index=True, axis=0)

teammates_history=pd.concat([mclaren_history_with_hamilton[mclaren_history_with_hamilton['driver']!='Lewis Hamilton'],
                            mercedes_history_with_hamilton[mercedes_history_with_hamilton['driver']!='Lewis Hamilton']],ignore_index=True, axis=0)

hamilton_history.shape==teammates_history.shape
hamilton_history


fastest_lap_head_to_head={'Hamilton':0,'Teammates':0}
tot_hamilton=0
tot_teammates=0
for race in range(len(hamilton_history)):
    if hamilton_history.iloc[race,1]<teammates_history.iloc[race,1]:
        fastest_lap_head_to_head['Hamilton']+=1
    else:
        fastest_lap_head_to_head['Teammates']+=1
    
fastest_lap_head_to_head

print(f'Hamilton had a faster fastest lap {fastest_lap_head_to_head['Hamilton']} times versus {fastest_lap_head_to_head['Teammates']} times that his teammates were quicker than him.',
      f'\nThis means that he was quicker {np.round(100*(fastest_lap_head_to_head['Hamilton']/(fastest_lap_head_to_head['Hamilton']+fastest_lap_head_to_head['Teammates'])),2)}% of the races')

Hamilton had a faster fastest lap 182 times versus 140 times that his teammates were quicker than him.
This means that he was quicker 56.52% of the races

In [43]:
#9 Times Hamilton's fastest lap was fastest than his teammates

copy_data['rank']=copy_data['rank'].fillna(25)

hamilton_data = copy_data[copy_data['driver'] == 'Lewis Hamilton'].groupby(['year','race_name','constructor_name'],as_index=False)

ham=0
tmmt=0

for (year, race_name, constructor), race in hamilton_data:
    races_hamilton_team=copy_data[(copy_data['year']==year)&(copy_data['race_name']==race_name)&(copy_data['constructor_name']==constructor)]    

    if races_hamilton_team[races_hamilton_team['driver']=='Lewis Hamilton']['rank'].iloc[0]<races_hamilton_team[races_hamilton_team['driver']!='Lewis Hamilton']['rank'].iloc[0]:
        ham+=1
    else:
        tmmt+=1

ham, tmmt

print(f'Hamilton had a faster fastest lap {ham} times versus {tmmt} times that his teammates were quicker than him.',
      f'\nThis means that he was quicker {np.round(100*(ham/(ham+tmmt)),2)}% of the races')

Hamilton had a faster fastest lap 182 times versus 140 times that his teammates were quicker than him.
This means that he was quicker 56.52% of the races

In [44]:
# 10. Top 5 drivers with highest number of times they had the most wins at a circuit 
# Number of circuits in which a driver holds the most number of wins in history

drivers_circuit_wins=f1[f1['final_position']==1].groupby(['circuit_name','driver'], as_index=False)['final_position'].count()
drivers_most_wins_per_circuit=drivers_circuit_wins.loc[drivers_circuit_wins.groupby('circuit_name')['final_position'].idxmax()].rename(columns={'final_position':'number_wins'})
#drivers_most_wins_per_circuit.sort_values('number_wins', ascending=False).head(10)

drivers_times_won_circuit_most_times=drivers_most_wins_per_circuit.groupby('driver', as_index=False)['number_wins'].count()
drivers_times_won_circuit_most_times.sort_values('number_wins',ascending=False).head().rename(columns={'number_wins':'circuits_with_most_wins'})

                driver  circuits_with_most_wins
16      Lewis Hamilton                       14
20  Michael Schumacher                       10
0          Alain Prost                        6
24       Stirling Moss                        5
22    Sebastian Vettel                        5

In [45]:
# 11. Drivers with the highest number of fastest laps per season (only from 2004 onwards)

fastest_laps_per_driver_per_season=f1[f1['rank']==1].groupby(['year','driver'], as_index=False)['rank'].count().rename(columns={'rank':'fastest_lap_awards'})
driver_most_fastest_laps_per_season=fastest_laps_per_driver_per_season.loc[fastest_laps_per_driver_per_season.groupby('year')['fastest_lap_awards'].idxmax()]
driver_most_fastest_laps_per_season.groupby('driver',as_index=False)['fastest_lap_awards'].count().sort_values('fastest_lap_awards',ascending=False).rename(columns={'fastest_lap_awards':'season_with_most_amount_of_fastest_laps'}).head()

               driver  season_with_most_amount_of_fastest_laps
3      Lewis Hamilton                                        6
2      Kimi Räikkönen                                        2
4         Mark Webber                                        2
5      Max Verstappen                                        2
6  Michael Schumacher                                        2

In [46]:
# 12. Number of times lewis has outqualified his teammate
lewis_starts = f1[f1['driver']=='Lewis Hamilton'][['race_date','circuit_name','constructor_name','driver','grid_starting_position']]

subdata = f1[['race_date','circuit_name','constructor_name','driver','grid_starting_position']]

starts = (subdata.merge(lewis_starts,left_on=['race_date','constructor_name'],right_on=['race_date','constructor_name'],how='inner')
          .drop(['circuit_name_y','driver_y','grid_starting_position_y'],axis=1)
          .rename(columns={'circuit_name_x':'circuit_name','driver_x':'driver','grid_starting_position_x':'starting_position'}))

compared_starts = (starts.groupby(['race_date','circuit_name','constructor_name'],as_index=False)['starting_position'].idxmin()
                   .rename(columns={'starting_position':'driver_id'}))

best_qualified_driver = compared_starts.merge(starts['driver'],left_on='driver_id',right_on=starts.index,how='inner')

lewis_quali = len(best_qualified_driver[best_qualified_driver['driver']=='Lewis Hamilton'])
tot_races = len(best_qualified_driver)

outqualifying_df = pd.DataFrame({
    'Driver': ['Lewis Hamilton'],
    'Outqualified Count': [lewis_quali],
    'Total Races': [tot_races],
    'Outqualifying Ratio': [lewis_quali/tot_races]
})

outqualifying_df

           Driver  Outqualified Count  Total Races  Outqualifying Ratio
0  Lewis Hamilton                 204          322              0.63354

In [47]:
# 13. Number of times lewis outraced his teammate
lewis_finishes = f1[f1['driver']=='Lewis Hamilton'][['race_date','circuit_name','constructor_name','driver','final_position']]

subdata2 = f1[['race_date','circuit_name','constructor_name','driver','final_position']]

finishes = subdata2.merge(lewis_finishes,left_on=['race_date','constructor_name'],right_on=['race_date','constructor_name'],how='inner').drop(['circuit_name_y','driver_y','final_position_y'],axis=1).rename(columns={'circuit_name_x':'circuit_name','driver_x':'driver','final_position_x':'final_position'}).fillna(21)

compared_finishes = finishes.groupby(['race_date','circuit_name','constructor_name'],as_index=False)['final_position'].idxmin().rename(columns={'final_position':'driver_id'})

best_finished_driver = compared_finishes.merge(finishes['driver'],left_on='driver_id',right_on=finishes.index,how='inner')

lewis_finish = len(best_finished_driver[best_finished_driver['driver']=='Lewis Hamilton'])

outperforming_df = pd.DataFrame({
    'Driver': ['Lewis Hamilton'],
    'Outperforming Count': [lewis_finish],
    'Total Races': [tot_races],
    'Outperforming Ratio': [lewis_finish/tot_races]
})

outperforming_df

           Driver  Outperforming Count  Total Races  Outperforming Ratio
0  Lewis Hamilton                  201          322             0.624224

In [48]:
# generic driver start comparison function

def compare_starts(driver,data):
    driver_starts = data[data['driver']==driver][['race_date','circuit_name','constructor_name','driver','grid_starting_position']]

    subdata = data[['race_date','circuit_name','constructor_name','driver','grid_starting_position']]

    starts = subdata.merge(driver_starts,left_on=['race_date','constructor_name'],right_on=['race_date','constructor_name'],how='inner').drop(['circuit_name_y','driver_y','grid_starting_position_y'],axis=1).rename(columns={'circuit_name_x':'circuit_name','driver_x':'driver','grid_starting_position_x':'starting_position'})

    compared_starts = starts.groupby(['race_date','circuit_name','constructor_name'],as_index=False)['starting_position'].idxmin().rename(columns={'starting_position':'driver_id'})

    best_qualified_driver = compared_starts.merge(starts['driver'],left_on='driver_id',right_on=starts.index,how='inner')

    driver_quali = len(best_qualified_driver[best_qualified_driver['driver']==driver])
    tot_races = len(best_qualified_driver)

    return [driver_quali,tot_races,driver_quali/tot_races]

In [49]:
# generic driver finish comparison function

def compare_finishes(driver,data):
    driver_finishes = data[data['driver']==driver][['race_date','circuit_name','constructor_name','driver','final_position']]

    subdata2 = data[['race_date','circuit_name','constructor_name','driver','final_position']]

    finishes = subdata2.merge(driver_finishes,left_on=['race_date','constructor_name'],right_on=['race_date','constructor_name'],how='inner').drop(['circuit_name_y','driver_y','final_position_y'],axis=1).rename(columns={'circuit_name_x':'circuit_name','driver_x':'driver','final_position_x':'final_position'}).fillna(21)

    compared_finishes = finishes.groupby(['race_date','circuit_name','constructor_name'],as_index=False)['final_position'].idxmin().rename(columns={'final_position':'driver_id'})

    best_finished_driver = compared_finishes.merge(finishes['driver'],left_on='driver_id',right_on=finishes.index,how='inner')

    driver_finish = len(best_finished_driver[best_finished_driver['driver']==driver])
    tot_races = len(data[(data['driver']==driver)&(~data['grid_starting_position'].isna())])

    return [driver_finish,tot_races,driver_finish/tot_races]

In [50]:
# 14. Comparing qualifying performance ratio for drivers that have participated in over 300 races
driver_start_comparisons = {}

drivers = f1['driver'].unique()

for driver in drivers:
    if len(f1[f1['driver']==driver])>300:
        res = compare_starts(driver,f1)
        driver_start_comparisons[driver] = {'Outqualified Count': res[0], 'Total Races': res[1], 'Outqualifying Ratio': res[2]}

pd.DataFrame(driver_start_comparisons).T.sort_values('Outqualifying Ratio',ascending=False)

                    Outqualified Count  Total Races  Outqualifying Ratio
Michael Schumacher               229.0        308.0             0.743506
Fernando Alonso                  266.0        370.0             0.718919
Lewis Hamilton                   204.0        322.0             0.633540
Rubens Barrichello               168.0        326.0             0.515337
Kimi Räikkönen                   169.0        352.0             0.480114
Jenson Button                    135.0        309.0             0.436893

In [51]:
# 15. Comparing race performance ratio for drivers that have participated in over 300 races
driver_finish_comparisons = {}

for driver in drivers:
    if len(f1[f1['driver']==driver])>300:
        res = compare_finishes(driver,f1)
        driver_finish_comparisons[driver] = {'Outperformed Count': res[0], 'Total Races': res[1], 'Outperforming Ratio': res[2]}

pd.DataFrame(driver_finish_comparisons).T.sort_values('Outperforming Ratio',ascending=False)

                    Outperformed Count  Total Races  Outperforming Ratio
Fernando Alonso                  250.0        370.0             0.675676
Michael Schumacher               198.0        308.0             0.642857
Lewis Hamilton                   201.0        322.0             0.624224
Jenson Button                    177.0        309.0             0.572816
Kimi Räikkönen                   180.0        352.0             0.511364
Rubens Barrichello               151.0        326.0             0.463190